[submodule "platform/openbar"]
	path = platform/openbar
	url = https://github.com/openbar/openbar.git
[submodule "platform/poky"]
	path = platform/poky
	url = https://github.com/yoctoproject/poky.git
[submodule "platform/meta-raspberrypi"]
	path = platform/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
[submodule "platform/meta-openembedded"]
	path = platform/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "platform/meta-swupdate"]
	path = platform/meta-swupdate
	url = https://github.com/sbabic/meta-swupdate.git
