[Unit]
Description=Grow root partition for Birdy Cam Cam
ConditionFirstBoot=yes
Before=birdycamcam-altroot.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@LIBEXECDIR@/birdycamcam/grow-root-partition.sh

[Install]
WantedBy=multi-user.target
